<div class="row">
    <div class="col-sm-2">
        <a href ="/app/administrador/usuarios">
            <mat-card>
                <img src="https://img.freepik.com/vector-gratis/sigueme-diseno-tematica-social-empresarial_24877-50426.jpg?size=338&ext=jpg&ga=GA1.2.609549629.1628985600">
                <h3 class="text-center">Gestión usuarios</h3>
            </mat-card>
        </a>
    </div>
    <div class="col-sm-1">&nbsp;</div>
    <div class="col-sm-2">
        <a href ="/app/administrador/complejidad">
            <mat-card>
                <img src="https://cdn1.iconfinder.com/data/icons/business-finance-18/512/Settings_Gears_Cogs_Configure_Config_Options_Support-512.png">
                <h3 class="text-center">Gestión Complejidad</h3>
            </mat-card>
        </a>
    </div>
</div>
