<mat-sidenav-container class="container-fluid">
    <!-- side-nav -->
    <mat-sidenav mode="side" opened class="sidenav">
      <mat-toolbar color="primary" class="toolbar">
        <img class="img-brand" alt="no-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/512px-Angular_full_color_logo.svg.png">

      </mat-toolbar>
      <!-- Elements list menu -->
      <mat-list>
        <mat-list-item *ngFor="let item of links"> 
          <a matLine [routerLink]="item.url">{{ item.name }}</a>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <!-- side-nav-content -->
    <mat-sidenav-content>
      <mat-toolbar color="primary">
       
          <span>Bienvenido</span>
          <span class="example-spacer"></span>
          <span class="nav-tool-items">

            <button mat-icon-button class="example-icon favorite-icon" matTooltip="Cerrar sesión" (click)="cerrarSesion()">
              <mat-icon>power_settings_new</mat-icon>
            </button>

            <button mat-icon-button class="example-icon favorite-icon"  matTooltip="Perfil" (click)="perfil()">
              <mat-icon>account_circle</mat-icon>
            </button>
          </span>
        
      </mat-toolbar>
      <div class="container-page">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>